.productos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

.producto {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.producto img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .productos-container {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 10px;
  }

  .producto img {
    width: 80%;
  }

  .producto {
    padding: 15px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .productos-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 15px;
  }

  .producto img {
    width: 70%;
  }
}

@media (min-width: 769px) {
  .productos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
