.informacion-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #003f9e;
}

h2,
h3 {
  font-size: 2.5rem;
  text-decoration: underline;
  margin-top: 25px;
  color: #003f9e;
}

p {
  font-size: 1.8rem;
  color: #30e039;
  margin: 10px 0;
}

strong {
  color: #222;
}

.informacion-container p + p {
  margin-top: 12px;
}

@media (max-width: 480px) {
  .informacion-container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2,
  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .informacion-container {
    width: 85%;
    padding: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
