.home-container {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-container .fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.titulo1 {
  font-size: 5rem;
  margin-top: 40px;
  text-align: center;
}

.contador {
  position: relative;
  z-index: 2;
  border: 2px solid #ccc;
  padding: 1rem;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.7); /* opcional: fondo semi-transparente */
  border-radius: 10px;
}

.titulo2 {
  font-size: 3rem;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contador button {
  padding: 20px 20px;
  width: 170px;
  border-radius: 10px;
  font-size: 2rem;
}

.incrementar {
  background-color: rgb(69, 228, 54);
  color: whitesmoke;
}

.decrementar {
  background-color: rgb(221, 28, 28);
  color: whitesmoke;
}

.reiniciar {
  background-color: blueviolet;
  color: whitesmoke;
}

@media (max-width: 480px) {
  .titulo1 {
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
  }

  .contador {
    width: 90%;
    padding: 1rem;
  }

  .titulo2 {
    font-size: 2rem;
  }

  .botones {
    flex-direction: column;
    gap: 10px;
  }

  .contador button {
    width: 100%;
    padding: 12px;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .titulo1 {
    font-size: 4rem;
    text-align: center;
  }

  .contador {
    width: 80%;
    padding: 1.5rem;
  }

  .titulo2 {
    font-size: 2.5rem;
  }

  .botones {
    gap: 15px;
  }

  .contador button {
    width: 130px;
    padding: 15px;
    font-size: 1.7rem;
  }
}
